.banner_blk {
    position: relative;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    img {
        width: 100vw;
        @media (max-width: 1000px) {
            // position: absolute;
            position: relative;
            width: 1920px;
            left: 50%;
            transform: translateX(-50%);
            height: 100vh;
        }
    }
    .dot {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        div {
            margin: 0 5px;
            width: 16px;
            height: 16px;
            border: 1px solid #fff;
            border-radius: 50%;
            background-color: #fff;
            opacity: 0.4;
            cursor: pointer;
            z-index: 1;
        }
        .dot_check {
            background-color: #fff;
            opacity: 1;
        }
    }
    .banner_btn {
        position: absolute;
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        left: 30px;
        bottom: 30px;
        div {
            width: 40px;
            height: 40px;
            border: 2px solid #867f74;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 10px;
            transition: all 0.5s linear;
            img {
                width: 80%;
            }
            &:hover {
                background-color: #fff;
                opacity: 0.5;
            }
        }
        @media (max-width: 1000px) {
            display: none;
        }
    }
    .banner_vd {
        display: none;
        color: #fff;
        width: 50px;
        height: 50px;
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        @media (max-width: 1000px) {
            display: block;
        }
    }
}
.cookie_blk {
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding: 40px;
    position: fixed;
    bottom: 0;
    z-index: 999;

    > div {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        p {
            width: 800px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: #f5f2e8;
        }
        a {
            color: #fff;
        }
        div {
            display: flex;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            margin: 50px auto 0 auto;
            width: 180px;
            height: 50px;
            background: #ac9b88;
            border: 2px solid #f5f2e8;
            font-size: 18px;
            line-height: 50px;
            color: #f5f2e8;
        }
    }
}
@media (max-width: 1000px) {
    .cookie_blk {
        width: 100%;
        height: 60vh;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 40px;
        position: fixed;
        bottom: 0;
        // display: none;
        z-index: 999;
        > div {
            width: 100%;
            margin: 0 auto;
            display: block;
            p {
                width: 100%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                color: #f5f2e8;
            }
            a {
                color: #fff;
            }
            div {
                margin: 50px auto 0 auto;
                width: 140px;
                height: 40px;
                background: #ac9b88;
                border: 2px solid #f5f2e8;
                font-size: 18px;
                line-height: 36px;
                color: #f5f2e8;
            }
        }
    }
}
